h3
  |Новая заявка
div
  = "Имя: #{@form['name']} #{@form['surname']}"
div
  = "Email: #{@form['email']}"
div
  = "Город: #{@form['city']}"
p
div
  = "Марка: #{@form['brand']}"
div
  = "Модель: #{@form['model']}"
div
  = "Цвет: #{@form['color']}"
div
  = "Двигатель: #{@form['engine']}"
div
  = "Коробка: #{@form['transmission']}"
