= semantic_form_for [:admin, @car] do |f|
  = f.input :car_model, as: :select, collection: options_for_select(CarModel.all.map{|m| ["#{m.brand.name} #{m.name}", m.id]}, @car.car_model_id)
  = f.input :name
  = f.input :code
  = f.input :color, as: :string
  = f.input :engine
  = f.input :transmission
  
  = f.actions
