h2 Авто

.row
  table.table.table-hover
    thead
      tr
        th
        th
        th
        th
        th
        th

    tbody
      - @cars.each do |c|
        tr
          td = c.id
          td = c.name
          td = c.color
          td = c.engine
          td = c.transmission
          td 
            .btn-group
              = link_to edit_admin_car_path(c), class: 'btn btn-sm btn-default' do
                span.glyphicon.glyphicon-pencil
              = link_to [:admin, c], data: {:confirm => 'Are you sure?'}, :method => :delete, class: 'btn btn-sm btn-default' do
                span.glyphicon.glyphicon-trash
  = link_to 'Добавить авто', new_admin_car_path, class: 'btn btn-default'
