h2 Бренды

.row
  table.table.table-hover
    tr
      th ID
      th Name
      th 
    - @brands.each do |s|
      tr
        td= s.id
        td= s.name
        td
          .btn-group
            = link_to edit_admin_brand_path(s), class: 'btn btn-sm btn-default' do
              span.glyphicon.glyphicon-pencil
            = link_to [:admin, s], class: 'btn btn-sm btn-default', data: {confirm: 'Are you sure?'}, :method => :delete do
              span.glyphicon.glyphicon-trash
  = link_to 'Добавить', new_admin_brand_path, class: 'btn btn-default'
