.starter-template {
  text-align: center;
}

body{
  .navbar{
    margin-bottom: -1px;
  }
  .navbar-default{
    background-color: #5ab7e4;
    border-color: #5ab7e4;
  }
}
body .navbar-brand{
  width: 230px;
  background: url('logo.png') no-repeat;
  margin-left: 0px !important;
}
body .hrline{
  width: 930px;
  height: 4px;
  background: #5ab7e4;
  margin: 5px auto 35px auto;
}
body form select.form-select{
  width: 175px !important;
}
.form-inline * {
   margin:0 5px;
}
.footer {
  bottom: 0;
  width: 100%;
  /*height: 60px;*/
  background-color: #5ab7e4;
  margin-top: 50px;
  color: #fff;
  /*position: absolute;*/
}
.footer a{
  color: #fff;
  padding: 0 5px;
}
.footer .container p{
  margin: 20px 0;
}
.navbar-default .navbar-nav > li > a{
  color: #fff;
}
form .wrapper{
  background: url("labels.png") 60px 0 transparent;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  padding-top: 80px;
}
form .wrapper.model{
  background-position: 60px -97px;
}
form .wrapper.color{
  background-position: 60px -196px;
}
form .wrapper.engine{
  background-position: 60px -295px;
}
form .wrapper.transmission{
  background-position: 60px -392px;
}
.alert{
  margin-top: 20px;
}
.digits{
  display:inline-block;
  margin: 0 30px;
  width: 220px;
  vertical-align: top;
}
.digit{
  border-radius: 150px;
  border: 6px #5ab7e4 solid;
  color: #5ab7e4;
  width:150px;
  height:150px;
  background: #e1eeff;
  line-height: 140px;
  font-size: 80px;
  margin: 0 auto;
}
.digits .text{
  font-weight: 600;
  font-size: 18px;
  padding-top: 15px;
  color: #4c4c4c;
}

.spacer{
  padding-top: 50px;
}

.digitswrapper{
  position: relative;
}

.digitswrapper:before{
  
  content:'';
  background-color: #5ab7e4;
  width: 60%;
  position: absolute;
  top: 30%;
  left: 20%;
  height: 6px;
  z-index: -50;
}

.carousel{
  padding-top: 5px;
}
.carousel-caption{
  text-align: left;
}

.carousel .carousel-info{
  background: #5ab7e4;
  display: inline-block;
  padding: 10px;
}
.carousel .carousel-info:before{
  content:'';
  background: url(flag.png) no-repeat;
  width: 30px;
  height: 17px;
  position: absolute;
  left: 0;
  top: 3px;
}

.carousel .carousel-title{
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  left: 12%;
  background: #09101a;
  font-size: 16px;
  height: 31px;
  line-height:31px;
}

.carousel .carousel-title:before{
  content: '';
  background: url(left.png) no-repeat;
  width: 19px;
  height: 31px;
  position: absolute;
  left: -19px;
}
.carousel .carousel-title:after{
  content: '';
  background: url(right.png) no-repeat;
  width: 19px;
  height: 31px;
  position: absolute;
  right: -19px;
}





html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#wrapper{
  min-height: 100%;
  margin-bottom: -150px;
}

* html .page-wrapper {
    height: 100%;
}

.page-buffer {
  height: 150px;
}
.navbar-header a img{
  padding-top: 2px;
}

.checkbox{
  padding-left: 15px;
}
.checkbox input{
  position: absolute !important;
  margin-left: -20px !important;
}
