.jumbotron
  h1 Slides
  p Здесь можно создавать слайды
  p
    = link_to('Добавить слайд', new_admin_slider_path, class: 'btn btn-large btn-primary')
.row
  table.table.table-hover
    tr
      th ID
      th Name
      th Title
      th Info
      th Actions
    - @sliders.each do |s|
      tr
        td= s.id
        td= s.name
        td= s.title
        td= s.info
        td
          .btn-group
            = link_to edit_admin_slider_path(s), class: 'btn btn-sm btn-default' do
              span.glyphicon.glyphicon-pencil

            = link_to [:admin, s], class: 'btn btn-sm btn-default', data: {confirm: 'Are you sure?'}, :method => :delete do
              span.glyphicon.glyphicon-trash
