.col-xs-4
  .text-left
    h2
      | Forgot your password?
    = semantic_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = f.input :email, autofocus: true
      = f.action :submit, as: :button, label: "Send me instructions"
    = render "devise/shared/links"
