.col-md-10.col-md-offset-1
  .spacer
  .panel.panel-default
    .panel-body.text-left
      h3 Правила использования Пользователями Сайта carz.io
      h4 1. Общие положения
      p 1.1. Настоящее Соглашение (далее - «Соглашение») является договором-офертой, т.е. адресованным конкретному лицу (Пользователю) предложением, которое выражает намерение Организатора считать себя заключившим Договор с Пользователем.
      p 1.2. Организатор предлагает Пользователю Услуги по использованию Сайта и его сервисов на условиях, являющихся предметом настоящего Соглашения. Условия настоящего Соглашения разработаны Организатором и определяют условия использования Сайта, а также права и обязанности его Пользователей и Организатора. Условия Соглашения распространяются также на отношения, связанные с правами и интересами третьих лиц, как являющихся Пользователями Сайта (например, Партнеров), так и не являющихся таковыми, но чьи права могут быть затронуты в результате действий Пользователей Сайта.
      p  1.3. Настоящая оферта регулируется следующими правовыми нормами: в соответствии с п. 2 ст. 432 Гражданского Кодекса РФ (ГК РФ) «договор заключается посредством направления оферты (предложения заключить договор) одной из сторон и ее акцепта (принятия предложения) другой стороной»; в соответствии с п. 1 ст. 433 ГК РФ «Договор признается заключенным в момент получения лицом, направившим оферту, ее акцепта»; в соответствии с п. 2 ст. 434 ГК РФ «договор в письменной форме может быть заключен путем … обмена документами посредством почтовой, телеграфной, телетайпной, телефонной, электронной или иной связи, позволяющей достоверно установить, что документ исходит от стороны по договору»; в соответствии с п.3. ст. 434 ГК РФ письменная форма договора считается соблюденной, если письменное предложение заключить договор принято в порядке, предусмотренном пунктом 3 статьи 438 настоящего Кодекса»; в соответствии с п. 3 ст. 438 ГК РФ «Совершение лицом, получившим оферту, в срок, установленный для ее акцепта, действий по выполнению указанных в ней условий договора (отгрузка товаров, предоставление услуг, выполнение работ, уплата соответствующей суммы и т.п.) считается акцептом, если иное не предусмотрено законом, иными правовыми актами или не указано в оферте».
      p  1.4. Пользователь обязан полностью ознакомиться с условиями настоящего Соглашения до момента регистрации на Сайте. Регистрация Пользователя на Сайте означает полное и безоговорочное принятие Пользователем Условий настоящего Соглашения (акцептом настоящей оферты в соответствии со статьей 438 ГК РФ).
      p  1.5. Условия настоящего Соглашения могут быть изменены и/или дополнены Организатором в одностороннем порядке без какого-либо специального уведомления. Настоящее Соглашение является открытым и общедоступным документом. Действующая редакция Соглашения доступна для ознакомления по адресу: carz.io Организатор рекомендует Пользователям регулярно проверять условия настоящего Соглашения на предмет их изменения и/или дополнения. Продолжение использования Сайта Пользователем после внесения изменений/дополнений в условия настоящего Соглашения означает принятие и согласие Пользователя с такими изменениями/дополнениями.
      h4 2. Статус Сайта carz.io
      p 2.1. Сайт carz.io является интернет-ресурсом и представляет собой совокупность информации и программ для ЭВМ, содержащейся в информационной системе, обеспечивающей доступность такой информации в сети Интернет по адресу: carz.io
      p  2.2. Все права на Сайт в целом и на использование сетевого адреса (доменного имени) carz.io принадлежат Организатору. Последний предоставляет доступ к Сайту всем заинтересованным лицам в соответствии с условиями настоящего Соглашения и действующим законодательством Российской Федерации.
      p  3. Пользование сайтом и статус Пользователя
      p  3.1. Пользование сайтом является бесплатным и добровольным. Организатор не взимает с Пользователей платы за пользование сервисами Сайта.
      p  3.2. Пользователями Сайта являются физические лица, достигшие 18 лет, а также юридические лица, обратившиеся к информационным материалам и сервисам Организатора через своего представителя, обладающего соответствующими полномочиями.
      p  3.3. При формировании запроса на Сайте Пользователь обязан указать необходимую достоверную и актуальную контактную информацию, для формирования индивидуального решения для каждого Пользователя.
      p  3.4. Пользователь несет ответственность за достоверность, актуальность, полноту и соответствие законодательству Российской Федерации предоставленной при регистрации формации и ее чистоту от претензий третьих лиц.
      p  3.5. При формировании запроса Пользователь соглашается с настоящими Правилами и принимает на себя указанные в них права и обязанности, связанные с использованием и функционированием Сайта.
      p  3.6. После успешного формирования запроса Пользователя на Сайте Организация принимает на себя права и обязанности перед Пользователем, указанные в настоящих Правилах.
      p  3.7. Принимая условия настоящего Соглашения путем запроса на Сайте, Пользователь заявляет, что настоящим делает сообщаемые им персональные данные общедоступными, и дает Организатору свое согласие на обработку им его персональных данных, предоставленных при осуществлении запроса. Обработка персональных данных Пользователя осуществляется в соответствии с законодательством Российской Федерации. Оператор обрабатывает персональные данные Пользователя в целях исполнения Оператором принятых на себя обязательств в соответствии с настоящим Соглашением. Оператор Сайта принимает все необходимые меры для защиты персональных данных Пользователя от неправомерного доступа, изменения, раскрытия или уничтожения. Оператор предоставляет доступ к персональным данным Пользователя только тем работникам, подрядчикам и агентам Оператора, которым эта информация необходима для обеспечения функционирования Сайта и предоставления Услуг Пользователю. Администрация Сайта вправе использовать предоставленную Пользователем информацию, в том числе персональные данные, в целях обеспечения соблюдения требований действующего законодательства Российской Федерации (в том числе в целях предупреждения и/или пресечения незаконных и/или противоправных действий Пользователей). Раскрытие предоставленной Пользователем информации может быть произведено лишь в соответствии с действующим законодательством Российской Федерации по требованию суда, правоохранительных органов, а равно в иных предусмотренных законодательством Российской Федерации случаях.
      h4 4. Права и обязанности Пользователя
      p 4.1. При пользовании Услугами Сайта Пользователь обязан:
      p  4.1.1. соблюдать положения действующего законодательства Российской Федерации, настоящего Соглашения и иных специальных документов Организатора Сайта;
      p  4.1.2. предоставлять при формировании запроса достоверные, полные и актуальные данные, следить за их актуализацией;
      p  4.1.3. хранить в тайне и не предоставлять другим Пользователям и третьим лицам ставшие ему известными в результате использования Сайта данные (включая, но не ограничиваясь, персональными данными, паспортными данными, банковской информацией) других Пользователей, Партнеров и любых третьих лиц без получения соответствующего предварительного разрешения последних.
      p  4.2. Пользователю при использовании Сайта запрещается:
      p  4.2.1. Формировать запрос от  Пользователя от имени или вместо другого лица («фальшивый аккаунт»);
      p  4.2.2. незаконно загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать интеллектуальную собственность Пользователей, Партнеров и иных третьих лиц;
      p  4.2.3. использовать программное обеспечение и осуществлять действия, направленные на нарушение нормального функционирования Сайта и его сервисов или персональных страниц Пользователей и Партнеров;
      p  4.2.4. загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать вирусы, трояны и другие вредоносные программы;
      p  4.2.5. использовать без специального на то разрешения Организатора автоматизированные скрипты (программы) для сбора информации на Сайте и(или) взаимодействия с Сайтом и его сервисами;
      p  4.2.6. осуществлять незаконные сбор и обработку персональных данных других лиц;
      p  4.2.7. осуществлять (пытаться получить) доступ к каким-либо Услугам иным способом, кроме как через интерфейс, предоставленный Организатором Сайта, за исключением случаев, когда такие действия были прямо разрешены Пользователю в соответствии с отдельным соглашением с Организатором;
      p  4.2.8. воспроизводить, дублировать, копировать, продавать, осуществлять торговые операции и перепродавать Услуги для каких-либо целей, за исключением случаев, когда такие действия были прямо разрешены Пользователю в соответствии с условиями отдельного соглашения с Организатором;
      p  4.2.9. размещать коммерческую и политическую рекламу вне специальных разделов Сайта, установленных Организатором. Приобретение Пользователем платных услуг на Сайте осуществляется в порядке, установленном в специальных документах Организатора, размещенных на Сайте.
      p  4.3. Пользователь несет личную ответственность за любую информацию, которую размещает на Сайте, сообщает другим Пользователям, а также за любые взаимодействия с другими Пользователями и Партнерами, осуществляемые на свой риск.
      p  4.4. В случае несогласия Пользователя с настоящим Соглашением или его обновлениями, Пользователь обязан отказаться от его использования путем обращение в службу поддержки по электронному адресу clients@carz.io
      h4 5. Условия сотрудничества. Права и обязанности Организатора
      p 5.1. Стороны настоящим выражают свое понимание, что Организатор не владеет и не управляет автотранспортными средствами, предложения по которым публикуются Партнером. Сайт carz.ioявляется площадкой для размещения предложений о покупке/продаже автотранспортных средств Партнерами, которые единолично, без участия Организатора распоряжаются указанными автотранспортными средствами. Организатор не принимает участия в сделках, но дает Партнеру (автодилеру) и Пользователям (покупателю) возможность заключать сделки напрямую.
      p  5.2. Акцептуя настоящую Оферту, Пользователь подтверждает, что Организатор не несет ответственности за любую часть сделки по покупке автотранспортного средства, за актуальность и достоверность информации в предложениях автодилера.
      p  5.3. Организатор не несет ответственности за актуальность и достоверности предложений автодилеров, размещенных на Сайте, в том числе достоверность в части характеристик транспортных средств и т.п.
      p  5.4. Организатор не несет ответственность за состояние автотранспортных средств, а равно за соблюдение законов, правил и положений, которые могут быть применимы к любому автотранспортному средству в любой юрисдикции.
      p  5.5. С момента регистрации Пользователя на Сайте Организатор выступает исключительно как посредник между Партнером и Пользователем, публикуя детали Заявки на Сайте и по запросу Пользователя предоставляя контактные данные Партнера.
      p  5.6. Организатор не несет ответственности за любые задержки, возникшие из-за временной или частичной поломки, ремонта, усовершенствования или поддержки Сайта, неаккуратную, недостоверную или ложную информацию, а также недоставку информации.
      p  5.7. Администрация Сайта имеет право направлять Пользователю информацию о развитии Сайта и его сервисов, а также рекламировать собственную деятельность и услуги, путем передачи смс-сообщения или же путем прямой рассылки на электронный адрес Пользователя
      p  5.8. Любые претензии Пользователя, связанные с автотранспортными средствами, их покупкой и т.п. действиями и информацией, находящимися за границами ответственности Организатора, подлежат предъявлению соответствующим лицам – другим Пользователям и/или Партнерам и/или иным третьим лицам, действия/бездействие которых повлекло за собой возникновение таких претензий у Пользователя.
      h4 6. Условия об интеллектуальных правах
      p 6.1. Все объекты, размещенные на Сайте, в том числе элементы дизайна, текст, графические изображения, иллюстрации, видео, скрипты, программы, музыка, звуки и другие объекты и их подборки (далее - Контент), являются объектами исключительных прав Организатора, Партнеров, Пользователей Сайта и других правообладателей, все права на эти объекты защищены.
      p  6.2. Кроме случаев, установленных настоящим Соглашением, а также действующим законодательством Российской Федерации, никакой Контент не может быть скопирован (воспроизведен), переработан, распространен, отображен во фрейме, опубликован, скачан, передан, продан или иным способом использован целиком или по частям без предварительного разрешения правообладателя, кроме случаев, когда правообладатель явным образом выразил свое согласие на свободное использование Контента любым лицом.
      h4 7. Заключительные положения
      p 7.1. Если какое-либо условие настоящего оглашения будет недействительно или неосуществимо в соответствии с действующим законодательством РФ, все остальные условия остаются в силе, а недействительное или неосуществимое условие будет считаться замененным соответствующим действительным, осуществимым условием действующего законодательства РФ, которое наиболее близко соответствует намерению первоначального условия.
