.col-md-10.col-md-offset-1
  .spacer
  .panel.panel-default
    .panel-body.text-left
      h3 Обратная связь
      p
        |В случае, если у Вас возникли какие-либо вопросы и предложения, можете написать нам на адрес: 
        = mail_to 'clients@carz.io'
        |. Спасибо!
