.col-xs-4
  .text-left
    h2
      | Sign in 
    = semantic_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.input :email, autofocus: true
      = f.input :password, autocomplete: "off"
      - if devise_mapping.rememberable?
        = f.input :remember_me, as: :boolean
      = f.actions do
        = f.action :submit, label: "Sign in", as: :button, class: 'btn btn-primary'
    = render "devise/shared/links"
