h2 Модели
.row
  table.table.table-hover
    thead
      tr
        th ID
        th Name
        th Brand
        th 

    tbody
      - @car_models.each do |car_model|
        tr
          td= car_model.id
          td= car_model.name
          td= car_model.brand.name
          td  
            .btn-group
              = link_to edit_admin_car_model_path(car_model), class: 'btn btn-sm btn-default' do
                span.glyphicon.glyphicon-pencil
              = link_to [:admin, car_model], data: {:confirm => 'Are you sure?'}, :method => :delete, class: 'btn btn-sm btn-default' do
                span.glyphicon.glyphicon-trash
  = link_to 'Добавить', new_admin_car_model_path, class: 'btn btn-default'
