.carousel ng-controller="CarouselDemoCtrl" 
  div.carousel-wrapper
    carousel interval="myInterval" 
      slide active="slide.active" ng-repeat=("slide in slides") 
        img ng-src="{{slide.picture}}" style="margin:auto;" 
          .carousel-caption
            div.carousel-info ng-bind-html="slide.info"
            div.carousel-title 
              |{{slide.title}}
h3.text-center Только попросите и мы найдем!
.hrline
form.form-inline.clearfix action="/main" method="post" name="request_form"
  .form-group.col-sm-12
    .wrapper.brand
        .form-group ng-class="{ 'has-error' : request_form.brand.$invalid && submitted}"
          select#brand_input.form-control.form-select ng-model="car.brand" ng-options="brand.name for brand in data.cars.brands track by brand.id" name="brand" required=""
            option value="" Марка
    .wrapper.model
      .form-group ng-class="{ 'has-error' : request_form.model.$invalid && submitted}"
        select.form-control.form-select ng-model="car.model" ng-options="model.name for model in data.cars.car_models track by model.id" name="model" required=""
          option value="" Модель
    .wrapper.color
      .form-group ng-class="{ 'has-error' : request_form.color.$invalid && submitted}"
        select.form-control.form-select ng-model="car.color" ng-options="v as v for v in data.cars.colors track by v" name="color"
          option value="" Цвет
    .wrapper.engine
      .form-group ng-class="{ 'has-error' : request_form.engine.$invalid && submitted}"
        select.form-control.form-select ng-model="car.engine" ng-options="v as v for v in data.cars.engine track by v" name="engine"
          option value="" Двигатель
    .wrapper.transmission
      .form-group ng-class="{ 'has-error' : request_form.transmission.$invalid && submitted}"
        select.form-control.form-select ng-model="car.transmission" ng-options="v as v for v in data.cars.transmission track by v" name="transmission"
          option value="" Коробка
    .wrapper
      button.btn.btn-danger type="button" ng-show="car" ng-click="car=''"
        span.glyphicon.glyphicon-remove
  .form-group.col-sm-12 style="padding-top:45px"
    #name_input.string.input.optional.stringish.form-group ng-class="{ 'has-error' : request_form.name.$invalid && submitted}"
      span.form-wrapper
        input#name.form-control maxlength="255" name="name" type="text" placeholder="Имя" required="" ng-model="name"/
    #surname_input.string.input.optional.stringish.form-group ng-class="{ 'has-error' : request_form.surname.$invalid && submitted}"
      span.form-wrapper
        input#surname.form-control maxlength="255" name="surname" type="text" placeholder="Фамилия" ng-model="surname"/
    #email_input.string.input.optional.stringish.form-group ng-class="{ 'has-error' : request_form.email.$invalid && submitted}"
      span.form-wrapper
        input#email.form-control maxlength="255" name="email" type="email" placeholder="Email адрес" ng-model="email" required=""/
    .checkbox
      label
        input#flexible type="checkbox" name="flexible" ng-model="flexible" Предлагать похожие 
        br варианты
    input#city value="" name="city" ng-model="city" type="hidden"
    input#submit_action.btn.btn-success.inline-margin name="commit" type="submit" value="Отправить"  ng-click="set_city()" /

.spacer
  .digitswrapper
    .digits.first
      .digit 1
      .text
        |Выберите марку, модель, цвет 
    .digits.second
      .digit 2
      .text
        |Нажмите отправить! И ждите письмо с предложениями!
    .digits.third
      .digit 3
      .text
        |Выберите лучшее и отправляйтесь в салон! 
