h4 Поиск
= search_form_for [:admin, @q], html: {class: "form-horizontal"} do |f|
  .col-sm-10
    .form-group
      =f.label :Имя, class: 'col-sm-1 control-label'
      .col-sm-2
        =f.search_field :name_or_surname_cont, class: 'form-control'
      =f.label :Email, class: 'col-sm-1 control-label'
      .col-sm-2
        =f.search_field :email_cont, class: 'form-control'
      =f.label :Город, class: 'col-sm-1 control-label'
      .col-sm-2
        =f.search_field :city_cont, class: 'form-control'
      =f.label :Марка, class: 'col-sm-1 control-label'
      .col-sm-2
        =f.search_field :brand_cont, class: 'form-control'
  .col-sm-10
    .form-group
      =f.label :Модель, class: 'col-sm-1 control-label'
      .col-sm-2
        =f.search_field :model_cont, class: 'form-control'
      =f.label :Цвет, class: 'col-sm-1 control-label'
      .col-sm-2
        =f.search_field :color_cont, class: 'form-control'
      =f.label :Двигатель, class: 'col-sm-1 control-label'
      .col-sm-2
        =f.search_field :engine_cont, class: 'form-control'
      =f.label :Коробка, class: 'col-sm-1 control-label'
      .col-sm-2
        =f.search_field :transmission_cont, class: 'form-control'
  .form-group
    .col-sm-2.col-sm-offset-1
      =f.submit class: 'btn btn-default'
