h1 Редактировать заявку
= semantic_form_for [:admin, @request] do |f|
  = f.input :name
  = f.input :surname
  = f.input :email
  = f.input :city
  = f.input :brand
  = f.input :model
  = f.input :color, as: :string
  = f.input :engine
  = f.input :transmission
  = f.input :flexible
  = f.actions
