h2 Dashboard

.row
  .panel.panel-default
    .panel-body.text-right
      = link_to 'XLS', admin_requests_path(format: :xls), class: 'btn btn-sm btn-success'
      .text-left
        = render 'search'
      
  table.table.table-hover
    tr
      th ID
      th Name
      th Surname
      th Email
      th City
      th Brand
      th Model
      th Color
      th Engine
      th Transmission
      th Flexible
      th
    - @requests.each do |s|
      tr
        td= s.id
        td= s.name
        td= s.surname
        td= s.email
        td= s.city
        td= s.brand
        td= s.model
        td= s.color
        td= s.engine
        td= s.transmission
        td= s.flexible
        td
          .btn-group
            = link_to edit_admin_request_path(s), class: 'btn btn-sm btn-default' do
              span.glyphicon.glyphicon-pencil
            = link_to [:admin, s], class: 'btn btn-sm btn-default', data: {confirm: 'Are you sure?'}, :method => :delete do
              span.glyphicon.glyphicon-trash
  = paginate @requests
