.carousel ng-mouseenter="pause()" ng-mouseleave="play()" ng-swipe-left="next()" ng-swipe-right="prev()" 
  ol.carousel-indicators ng-show=("slides.length > 1") 
    li ng-class=("{active: isActive(slide)}") ng-click="select(slide)" ng-repeat=("slide in slides track by $index") 
  .carousel-inner ng-transclude="" 
  a.left.carousel-control ng-click="prev()" ng-show=("slides.length > 1") 
    span.glyphicon.glyphicon-chevron-left
  a.right.carousel-control ng-click="next()" ng-show=("slides.length > 1") 
    span.glyphicon.glyphicon-chevron-right
