.item.text-center ng-class="{\
  'active': leaving || (active && !entering),\
  'prev': (next || active) && direction=='prev',\
  'next': (next || active) && direction=='next',\
  'right': direction=='prev',\
  'left': direction=='next'}" ng-transclude=""
