doctype html
html lang="en" 
  head
    meta charset="utf-8" 
    meta content="IE=edge" http-equiv="X-UA-Compatible" 
    meta content="width=device-width, initial-scale=1" name="viewport" 
    meta content="" name="description" 
    meta content="" name="author" 
    title Admin
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    /! Fixed navbar
    .navbar.navbar-default.navbar-static-top role="navigation" 
      .container
        .navbar-header
          button.navbar-toggle data-target=".navbar-collapse" data-toggle="collapse" type="button" 
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .navbar-brand
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              = link_to('Заявки', admin_root_path)
            li
              = link_to('Слайды', admin_sliders_path)
            li
              = link_to('Бренды', admin_brands_path)
            li
              = link_to('Марки', admin_car_models_path)
            li
              = link_to('Авто', admin_cars_path)
    .container
      - if notice
        p.alert.alert-success= notice
      - if alert
        p.alert.alert-danger= alert
      = yield
    /! /container

