doctype html
html
  head
    title Carzone
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
body
  #wrapper
    .navbar.navbar-default.navbar-static-top role="navigation" 
      .container
        .navbar-header
          button.navbar-toggle data-target=".navbar-collapse" data-toggle="collapse" type="button" 
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          /.navbar-brand
          =link_to image_tag('logo.png'), root_path
        .navbar-collapse.collapse
          form.navbar-form.navbar-right.city-form role="form"
            .form-group
              select#cityselect.form-control
                = options_for_select(@cities, @current_city)
    .container
      .starter-template
        - if notice
          p.alert.alert-success= notice
        - if alert
          p.alert.alert-danger= alert
        = yield
    .page-buffer
  .footer
    .container
      p.text-center
        =link_to 'Правила', page_path('agreement')
        ||
        =link_to 'Обратная связь', page_path('contact')
      p.text-center
        |© Copyright 2014 CARZONE CO.,LTD. All rights reserved.
